<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">

            <br><br>
            <h2 class="text-center">Registrarse</h2>
            <br><br>

            <% unless User.all.count >= 2 %>
                puts "No debe verse la pagina"
            

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-horizontal') do |f| %>
                <%= devise_error_messages! %>

                <div class="field form-group">
                    <%= f.label :fullname, 'Nombre completo' %><br />
                    <%= f.text_field :fullname, autofocus: true, class: 'form-control' %>
                </div>

                <div class="field form-group">
                    <%= f.label :email, 'Correo electronico' %><br />
                    <%= f.email_field :email, class: 'form-control' %>
                </div>

                <div class="field form-group">
                    <%= f.label :password, 'Contraseña' %>
                    <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                </div>

                <div class="field form-group">
                    <%= f.label :password_confirmation, 'Confirmar contraseña' %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
                </div>

                <div class="form-group actions">
                    <%= f.submit "Crear cuenta", class: 'btn btn-primary' %>
                </div>
            <% end %>

            <% end %>

            <div class="actions">
                <%= render "devise/shared/links" %>
            </div>

        </div>
    </div>
</div>