<div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-xs-8 col-xs-offset-2">
        <%= form_for([@article, @comment], remote: true, html: { id: 'comments-form', :"data-type" => "json", class: 'form-horizontal' }) do |f| %>
            <% if @comment.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

                    <ul>
                    <% @comment.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="field form-group">
                <% f.label :body %><br>
                <%= f.text_area :body, class: 'form-control', rows: '3', placeholder: 'Escriba su comentario' %>
            </div>
            <div class="actions">
                <%= f.submit class: 'btn btn-default' %>
            </div>
        <% end %>
    </div>
</div>