<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

            <!-- Si no viene definida la Variable se define con un valor por default -->
            <% name ||= 'Crear' %>

            <br><br>
            <h1 class="text-center"><%= name %> Artículo</h1>
            <br><br>

            <%= form_for(@article, html: { id: "articles_form", class: 'form-horizontal' }) do |f| %>
                <% @article.errors.full_messages.each do |error| %>
                <div class="lmx-error top top-space">
                    * <%= error %>
                </div>
                <% end %>

                <div class="field form-group">
                    <!-- Se pueden utilizar las llaves {} o no RoR ya lo sabe -->
                    <%= f.label :title, 'Titulo:' %>
                    <%= f.text_field :title, {placeholder: 'Titulo', class: 'form-control'} %>
                </div>
                <div class="field form-group">
                    <label>Portada:</label>
                    <%= f.file_field :cover %>
                </div>

                <div class="field form-group">
                    <%= f.text_area :body, placeholder: 'Contenido del artículo', style: 'height:250px;', class: 'form-control', id: 'wysihtml5s' %>
                </div>

                <div class="field form-group">
                    <label>Categorias:</label>
                    <% @categories.each do |category| %>
                        <div class="field form-group">
                            <%= check_box_tag 'categories[]', category.id %> <%= category.name %>
                        </div>
                    <% end %>
                </div>
                <div class="field form-group">
                    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
                </div>
            <% end %>
        </div>
    </div>
</div>